html {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 64px;
    text-align: center;
    color: #007765;
    margin: 48px 0 16px;
}

.conteiner {
    width: 1219px;
    margin: 0 auto;
    padding: 0 55px;
}

.page-header .conteiner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    right: auto;
    left: auto;
    height: 84px;
    background-color: #007765;
}

.page-header nav {
    display: inline-block;
}

.page-header nav ul {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    list-style: none;
}

.page-header nav ul a {
    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
}

.page-header nav ul a:hover {
    font-weight: 700;
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 403px;
    margin-top: 84px;
    background: url(img/Jumbotron.png) center center no-repeat;
}

.welcome-section h1 {
    font-size: 72px;
    letter-spacing: 0;
    color: #fff;
}

.problem-section {
    padding-bottom: 92px;
}

.problem-section p {
    font-size: 32px;
}

.problem-section p:first-of-type {
    margin-top: 16px;
}

.hero-section .conteiner {
    display: flex;
    height: 483px;
    font-size: 48px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.hero-section {
    background-color: cadetblue;
    background: url(img/hero-bg.png) center center no-repeat;
    background-size: cover;
    text-align: center;
}